{% extends 'base.html' %}

{% block content %}

<div class="container mt-5" style="max-width:700px;">

<h2 class="mb-4 text-center heading">Create Recipe</h2>

<form method="POST" enctype="multipart/form-data" id="recipeForm">

{% csrf_token %}

<div class="mb-3">
<label class="form-label">Recipe Title</label>
{{ form.title }}
</div>


<label class="form-label">Ingredients</label>

<div id="ingredients-container">

<div class="input-group mb-2 ingredient-row">
    <input type="text" class="form-control ingredient-field" placeholder="Ingredient">

    <button type="button" class="btn btn-danger remove-btn">
        Remove
    </button>
</div>

</div>

<button type="button" class="btn btn-secondary mb-3" onclick="addIngredient()">
Add Ingredient
</button>

{{ form.ingredients }}

<div class="mb-3">
<label class="form-label">Instructions</label>
{{ form.instructions }}
</div>

<div class="mb-3">
<label class="form-label">Image</label>
{{ form.image }}
</div>

<button class="btn btn-success w-100">
Create Recipe
</button>

</form>

</div>


<script>

function addIngredient(){

    const container = document.getElementById("ingredients-container")

    const row = document.createElement("div")
    row.className = "input-group mb-2 ingredient-row"

    row.innerHTML = `
        <input type="text" class="form-control ingredient-field" placeholder="Ingredient">

        <button type="button" class="btn btn-danger remove-btn">
            Remove
        </button>
    `

    container.appendChild(row)
}


document.addEventListener("click", function(e){

    if(e.target.classList.contains("remove-btn")){
        e.target.parentElement.remove()
    }

})


document.getElementById("recipeForm").addEventListener("submit", function(){

    const fields = document.querySelectorAll(".ingredient-field")

    let ingredients = []

    fields.forEach(field => {
        if(field.value.trim() !== ""){
            ingredients.push(field.value.trim())
        }
    })

    document.getElementById("id_ingredients").value = ingredients.join("\n")

})

</script>

{% endblock %}